.avt{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  position:absolute;
  vertical-align: middle;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: large;
}

.avt.like{
  background-color: skyblue;
  top: 0.3rem;
  right: 3.5rem;
}

.avt.grade{
  background-color: seagreen;
  top: 0.3rem;
  right: 0.3rem;
}